<div class="row">
  <div class="col-lg-2">
    <button type="button" class="btn btn-light" routerLink="/editaracercade/1" *ngIf="isLogged">
      EDITAR
    </button>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
    <img src={{usuario.img}} alt="author image" class="img-fluid" id="profile-img">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="name-container">
    <h2 id="main-name">
      {{usuario.nombre}} {{usuario.apellido}}
    </h2>
    <p id="dev">FULL STACK WEB DEVELOPER JR</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="about">
    <span>
      <h2 id="about-me">ACERCA DE MI</h2>
      <p>
        {{usuario.descripcion}}
      </p>
    </span>
  </div>
</div>
