<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">ESTAMOS EN CONTACTO</h1>
    <img src="../../../assets/alllogosap.png" alt="argentina programa">
    <img src="../../../assets/NUEVO.png" alt="abel brand" id="abelbrand">
    <h2>CONTACTO</h2>

    <address>
      TELEFONO: 351 7727124 <br>
      CRUZ DEL EJE, CORDOBA, ARGENTINA<br>

      <a class="footer__btn" href="mailto:abelfrancovelez@gmail.com">CONTACTAME</a>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Principal</h2>

      <ul class="nav__ul">
        <li>
          <a href="#about1">Acerca de mi</a>
        </li>

        <li>
          <a href="#portada">Portada</a>
        </li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Experiencia y educacion</h2>

      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#explab1">Experiencia laboral</a>
        </li>

        <li>
          <a href="#edu1">Educacion</a>
        </li>

      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Habilidades y proyectos</h2>

      <ul class="nav__ul">
        <li>
          <a href="#hab">Habilidades</a>
        </li>

        <li>
          <a href="#project">Proyectos</a>
        </li>

      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2023 ABEL DEV. All rights reserved.</p>

    <div class="legal__links">
      <span>Made with
        <span class="heart">♥</span> by ABEL DEV FOR ARGENTINA PROGRAMA
      </span>
    </div>
  </div>
  <div>
    <a href="#top" class="boton-volver-arriba">IR ARRIBA</a>
  </div>
</footer>

