<div class="row">
  <h1 class="titulo">PROYECTOS REALIZADOS</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 proj1">
      <h1>PROYECTO USORES WEB</h1>
      <P>Este proyecto fue basado en el uso responsable de la energia, mediante el cual, lleve a cabo el desarrollo de
        una pagina web
      </P>
      <a href="https://www.usoresweb.tk/" target="_blank">
        <button id="iralsitio">VISITAR SITIO AHORA
        </button></a>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 img1">
      <img src="../../../assets/usoresweb.jpg" alt="usoresweb" class="img-fluid img1edit">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 proj2">
      <h1>PROYECTO PORTAFOLIO PRINCIPAL</h1>
      <P>Este proyecto fue llevado a cabo desde el 2018
      </P>
      <a href="https://life-giving-additiv.000webhostapp.com/" target="_blank">
        <button id="iralsitio">VISITAR SITIO AHORA
        </button></a>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 img1">
      <img src="../../../assets/SOLUCIONES INFORMATICAS.png" alt="usoresweb" class="img-fluid img2edit">
    </div>
  </div>
</div>
