<div class="container" *ngIf="educacion">
  <div class="row">
    <div class="box">
      <br>
      <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate >
        <div class="form-group">
          <label for="nombreE">NOMBRE DEL TITULO O INSTITUCION</label>
          <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="educacion.nombreE" required>
        </div>
        <br>
        <div class="form-group">
          <label for="descripcionE">FECHA Y TITULO OBTENIDO</label>
          <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="educacion.descripcionE" required>
        </div>
        <br>
        <button class="btn btn-primary update">
          EDITAR INFORMACION
        </button>
      </form>
      <br>
    </div>
  </div>
</div>

