<div class="row">
  <h1 class="titulo">EDUCACION</h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>ESTUDIO 1</h1> -
        <h3>(años)</h3>
      </li>
      <p>
        Escuela Normal Superior Republica Del Perú
      </p>
    </ul>
    <ul>
      <li>
        <h1>ESTUDIO 2</h1> -
        <h3>(años)</h3>
      </li>
      <p>
        Escuela Normal Superior Republica Del Perú
      </p>
    </ul>
    <ul>
      <li>
        <h1>ESTUDIO 3</h1> -
        <h3>(años)</h3>
      </li>
      <p>
        Escuela Normal Superior Republica Del Perú
      </p>
    </ul>
  </div>
</div>
