<div class="row">
  <h1 class="titulo">EDUCACION</h1>

  <div class="col-lg-2">
    <button type="button" class="btn btn-light" routerLink="/nuevaedu" *ngIf="isLogged">
      AGREGAR NUEVA EDUCACION
    </button>
  </div>

  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td>
            <h2>{{Educacion.nombreE}}</h2>
          </td>
          <td>{{Educacion.descripcionE}}</td>
          <td *ngIf="isLogged">
            <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
              <i class="bi bi-pencil-square"></i>
              EDITAR
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Educacion.id)">
              <i class="bi bi-x-octagon-fill"></i>
              BORRAR
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
