<div class="row">
  <h1 class="titulo">HABILIDADES</h1>
  <div class="col-lg-12">
    <button type="button" routerLink="/newskill" class="btn btn-light skill" *ngIf="isLogged">AGREGAR NUEVA HABILIDAD</button>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
    <circle-progress
    [percent]="(skill.porcentaje)"
    [titleColor]="'#ff0040'"
    [titleFontSize]="'30'"
    [radius]="80"
    [subtitle]="(skill.nombre)"
    [subtitleFontSize]="'25'"
    [subtitleColor]="'#FFFFFF'"
    [space]="10"
    [unitsColor]="'#FF1D23'"
    [unitsFontSize]="'30'"
    [outerStrokeWidth]="15"
    [innerStrokeWidth]="7"
    [outerStrokeColor]="'#0000ff'"
    [innerStrokeColor]="'#ff0040'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>

    <div>
    <td *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
        <i class="bi bi-pencil-square"></i>
        EDITAR
      </button>
    </td>
    <td *ngIf="isLogged">
      <button class="btn btn-danger" (click)="delete(skill.id)">
        <i class="bi bi-x-octagon-fill"></i>
        BORRAR
      </button>
    </td>
    </div>


  </div>
</div>
