<div class="row">
  <h1 class="titulo">EXPERIENCIA LABORAL</h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>TRABAJO 1</h1> -
        <h3>(años)</h3>
      </li>
      <p>
        Soliva S.R.L
      </p>
    </ul>
    <ul>
      <li>
        <h1>TRABAJO 2</h1> -
        <h3>(años)</h3>
      </li>
      <p>
        Soliva S.R.L
      </p>
    </ul>
    <ul>
      <li>
        <h1>TRABAJO 3</h1> -
        <h3>(años)</h3>
      </li>
      <p>
        Soliva S.R.L
      </p>
    </ul>
  </div>
</div>
