.row{
  padding: 25px;
  border-left: dashed 1px rgb(255, 0, 0);
  border-right: dashed 1px rgb(255, 0, 0);
  border-bottom: dashed 2px rgb(255, 0, 0);
}

div{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin-right: 0px;
}

h1, h3{
  display: inline;
}

.table{
  color: rgb(255, 255, 255);
}

.titulo{
  text-align: center;
  margin: 20px 0px 20px;
  width: 500px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(0, 4, 255);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
